* {
      box-sizing: border-box;
  
}
.square {
    border: 0.5px solid gray;
}

.square:hover {
    background-color: red;
}


#container {
    width: 960px;
    height: 960px;
    border: 30px solid blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0 auto;
    border-radius: 5px;
}
#new-btn {
    color: white;
    background-color: green;
    border-radius: 5px;
    padding:2px;
    font-weight: bold;
    margin-left: auto;
    height: 35px;
    font-family: "inter";
    border: none;
    padding: 10px;
}
#new-btn:hover {
    background-color: #70d10f;
    transform: translateY(-2px);
    transition: 0.3s ease;
    border: none;
}
#header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
#erase {
    
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding:2px;
    font-weight: bold;
    margin-left: auto;
    height: 35px;
    font-family: "inter";
    border: none;
    margin: 0 auto;
    
}
#main {
    border: 50px solid gray;
    width: 1300px;
    margin: 0 auto;
    border-radius: 10px;
}
